@font-face {

  font-family: "PT Sans";
  src: url("../assets/fonts/PTSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {

  font-family: "PT Sans";
  src: url("../assets/fonts/PTSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
